.channel {
  text-align: center;
}
.btn, .txt {
  font: 1.5em monospace;
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  border: none;
}
.btn:focus, .txt:focus {
  outline: 2px solid var(--offsetcolour);
}
.btn {
  font-size: 1em;
  border-radius: 0;
  line-height: 1.125;
  background-color: transparent;
  color: white;
  text-shadow: 0 0 2px #000;
}
.txt {
  background-color: var(--offsetcolour);
} 
